.profile-badge-wrapper {
  background-color: #014099;
  border: 1px solid #004098;
  border-radius: 100px;
  width: 14.5rem;
  height: 3.813rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.625rem;
}

.profile-badge-text {
  font-family: Pretendard;
  color: #ffffff;
  font-size: 1.875rem;
  font-weight: 500;
}
